.container {
    position: relative;
    display: inline-block;
    height: 400px;
}

input{
    position: absolute;
    background-color: white;
    text-align: center;
    width: 50px;
    border-color: transparent;
   
}

.triangleinput {
    width: 150px;
    position: absolute;
    font-size: xx-large;
    z-index: 1;
}

#birthDate {
    top: 10px;
    left: 10px; 
    width: 100px;   
    visibility: hidden;
}
#calcButton {
    position: absolute;
    top: 30px;
    left: 300px;    
    visibility: hidden;
}
#inputTop {
    top: 60px;
    left: 170px;
    
}
#inputBottom {
    top: 300px;
    left: 170px;
}

#inputTopLeft {
    top: 120px;
    left: 65px;
}

#inputBottomLeft {
    top: 240px;
    left: 65px;
}

#inputTopRight {
    top: 115px;
    left: 280px;
}

#inputBottomRight {
    top: 240px;
    left: 280px;
}

#inputCenter {
    top: 180px;
    left: 170px;
}

#triangleWithInputs {
    position: absolute;
    left: 500px;
    top: -100px;
}

#triangle{
    font-size:450px;
}

#triangleInputCenter {
    left: 160px;
    top: 330px; 
}

#triangleInputLeft {
    left: 70px;
    top: 410px;  
}

#triangleInputRight {
    left: 240px;
    top: 410px;  
}

#triangleInputTop {
    left: 150px;
    top: 220px;  
}
