.container {
    position: relative;
    display: inline-block;
    height: 400px;
    /* background-color: red; */
}

input{
    position: absolute;
    background-color: white;
    text-align: center;
    width: 100px;
    font-size: x-large;
    border-color: transparent;   
    background-color: transparent;
}

input:focus
{
    background-color:lightgray;
}

input:hover
{
    background-color:lightgray;
    border-color: black;  
}

#circlesWithNumbers {
    width: fit-content;
    background-color: red;
    max-width: fit-content;
}

.triangleinput {
    width: 150px;
    position: absolute;
    font-size: xx-large;
}

#inputBirthDate {
    top: 400px;
    left: 30px; 
    width: 100px;  
    font-size: medium; 
    visibility: visible;
}

#btn-Convert-Html2Image
{
    position: absolute;
    top: 450px;
    left: 50px;    
    background-color: transparent;
    border-color: transparent;
    /* visibility: hidden; */
}

#btn-save-result
{
    position: absolute;
    top: 450px;
    left: 200px;    
    background-color: transparent;
    border-color: transparent;
    /* visibility: hidden; */
}

#inputTop {
    top: 50px;
    left: 150px;
    
}
#inputBottom {
    top: 290px;
    left: 145px;
}

#inputTopLeft {
    top: 110px;
    left: 40px;
}

#inputBottomLeft {
    top: 230px;
    left: 40px;
}

#inputTopRight {
    top: 110px;
    left: 250px;
}

#inputBottomRight {
    top: 230px;
    left: 250px;
}

#inputCenter {
    top: 170px;
    left: 145px;
}

#triangleWithInputs {
    position: absolute;
    left: 500px;
    top: 10px;
}

#triangleInputCenter {
    left: 150px;
    top: 210px; 
}

#triangleInputLeft {
    left: 70px;
    top: 300px; 
    text-align: left; 
}

#triangleInputRight {
    left: 220px;
    top: 300px;  
    text-align: right;
}

#triangleInputTop {
    left: 145px;
    top: 130px;  
}
